---
import "../styles.css";
import Nav from "./../components/Nav.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />
		<title>Abban's notes :: Home</title>
	</head>
	<body>
		<article>
			<h1>Abban's notes</h1>
			<p>This website is a collection of (almost) all of my notes and thoughts about courses I take, as well as topics that interest me.</p>
			<p>Most of them come from my undergraduate courses at Heriot-Watt university, where I'm studying robotics. The rest from various courses and notes available online, which I cite as needed.</p>
		</article>
		<div id="left-nav" style="background-color: transparent; position: relative;">
			<Nav />
		</div>
	</body>
</html>
