@media print {
	bo/* dy {
		--font-text-size: 11px !important;
    } */
    .page-centre {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    table {
        display: block;
        margin: 0 auto;
    }
}
